* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #343a40;
  padding-bottom: 0;
}
header {
  width: 1000px;
  margin: 0 auto;
  /* margin-bottom: 160px; */
  background-color: #fff0f6;
  /* margin-bottom: 160px; */
  margin-top: 0px;
  display: flex;
}

header h1 {
  /* display: inline-block */
  font-size: 66px;
  font-weight: 400;
  color: #d6336c;
  line-height: 1.1;
  margin-bottom: 40px;
}
header b {
  font-weight: 900;
  color: #c2255c;
}
.header-point {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  color: #e64980;
}
.header-icon {
  width: 24px;
  margin-right: 6px;
  color: #e64980;
}
.header-point-box {
  margin-bottom: 10px;
}
.header-textBox {
  width: 500px;
  padding: 50px;
}
.header-button {
  display: block;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 0;
  font-size: 28px;
  color: #ffdeeb;
  background-color: #d6336c;
  cursor: pointer;
}
.header-button:active,
.header-button:visited {
  color: #ffdeeb;
  background-color: #d6336c;
}
.header-button:hover {
  background-color: #e64980;
  box-shadow: 0 0 25px 2px #fcc2d7;
}
.header-img {
  width: 500px;
  opacity: 0.8;
}

/* SECTION */
.overlay-img {
  position: absolute;
  border-radius: 20px;
  right: 0px;
  top: -125px;
  width: 1000px;
  height: 500px;
  opacity: 0.3;
  filter: brightness(80%);
}

section {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  /* gap: 60px; */
  margin-top: 240px;
  margin-bottom: 240px;
  /* justify-content: center; */
}
.feature-detail-box {
  width: 300px;
  padding: 0px 20px;
  border-radius: 20px;
  background-color: #fff9db;
  color: black;
  align-content: center;
}
.feature-detail-title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 24px;
}

.article-icon {
  display: block;
  margin: auto;
  margin-bottom: 5px;
  width: 36px;
  height: 36px;
}

article {
  align-items: center;
}
article p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 5px;
}

/* TESTIMONIAL */
.testimonial {
  width: 800px;
  height: 180px;
  margin-bottom: 400px;
  margin-top: 400px;
  border-radius: 20px;
  background-color: #ffdeeb;
}

.testimonial-box {
  display: flex;
}
.testimonial-img {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 225px;
  height: 180px;
}
.testimonial-text {
  flex: 0 0 600px;
  padding: 8px 32px;
  padding-right: 42px;
}
.testimonial-title {
  font-size: 24px;
  margin-bottom: 8px;
}
.testimonial-description {
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 6px;
}
.author {
  margin-left: 460px;
  font-size: 16px;
}

.testimonial-content-hidden {
  display: none;
}

.testimonial-change-icon {
  position: absolute;
  top: 1680px;
  left: 1250px;
  width: 60px;
  height: 60px;
  /* fill: #d6336c; */
  color: #e64980;
  cursor: pointer;
}

/* BUY CARD  */
.buy-box {
  display: flex;
  width: 900px;
  margin: auto;
  margin-bottom: 120px;
  justify-content: space-around;
}
.buy-container {
  border-radius: 16px;
  background-color: #fff9db;
  width: 240px;
  box-shadow: 0px 20px 20px 5px #dee2e6;
  /* padding: 20px;
    padding-top: 0; */
}
.buy-title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

ol {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  justify-content: center;
  gap: 6px;
  /* padding-bottom: 5px; */
  margin-bottom: 12px;
}
.ul-last {
  margin-bottom: 20px;
}
.buy-tag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12px;
  margin-bottom: 12px;
}
.buy-icon {
  width: 26px;
}
.buy-button:link,
.buy-button:visited {
  display: inline-block;
  padding: 8px;
  border-radius: 12px;
  font-size: 20px;
  color: #fff9db;
  background-color: #e67700;
  text-decoration: none;
}
.buy-button:hover {
  color: #fff9db;
  background-color: #f59f00;
}
strong {
  font-size: 26px;
}

.buy-img {
  filter: brightness(105%);
  width: 240px;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* aside {
    width: 1000px;
    padding: 50px;
    margin: auto;
    background-color: #ffe8cc;
  } */

/* TOP-reccommendation /// */

.top-reccommendation-box {
  z-index: 10;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  background-color: #f8f0fc;

  position: fixed;
  bottom: 0;
}
.top-reccommendation-text {
  font-size: 28px;
  font-weight: 400;
  color: #495057;
}

.top-reccommendation-btn {
  background-color: #faa2c1;
  color: #a61e4d;
  height: 42px;
  font-size: 24px;
  width: 80px;
  border: none;
  cursor: pointer;
}
.top-reccommendation-btn:hover {
  box-shadow: 0 0 5px 0 #d6336c;
}
.top-bar-btn:visited,
.top-bar-btn:hover {
  box-shadow: 0 0 3px 0 #a61e4d;
}

/* TOP-menu-bar */
.sticky {
  z-index: 10;
  position: fixed;
  width: 100%;
}
.top-menu-box {
  background-color: #fcc2d7;
  height: 64px;
}
.top-menu-box ul {
  display: flex;
  justify-content: center;
  height: 64px;
  gap: 40px;

  align-items: center;
}
.top-menu-box ol a {
  font-size: 20px;
  padding: 5px 5px;
  color: #a61e4d;
  text-decoration: none;
  cursor: pointer;
}

.top-menu-box ol a:hover {
  background-color: #d6336c;
  color: white;
  border-radius: 5px;
}

.menu-link.opacity {
  opacity: 0.5;
}
/* FOOTER */
footer {
  height: 320px;
  background-color: #ffe3e3;
}

/* .testimonial {
  background-color: #ffc9c9;
} */
